html {
    font-family: 'Open Sans', sans-serif;
}
body div {
    margin:0px;
    padding:0px;
}
body {
    background-color: white; 
    text-align: center;
}

header {
    background-image: url(../images/header.png);
    background-repeat: no-repeat;
    height: 1080px;
}
nav {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: space-between;
    flex-direction: row;
    height: auto;
    border-bottom: 1px solid white;
}
.logo {
    padding-left: 360px;
    padding-top: 3px;
    max-height: 50px;
    max-width: auto;

}
ul {
    margin: 0px;
    padding-right: 360px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    padding: 0; 
    overflow: hidden;
}
ul a {
    margin-left: 10px;
    display:block;
    text-align: center;
    padding-right: 300px;
}
li{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}
li a {
    color: white;
    display: block;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}

.texteaccroche {
    line-height: 1080px;
    color: white;
    left: 30%;
    text-align: center;
}
.texteaccroche h2 {
    padding: 0px 30px;
    display: inline;
    background-color: rgba(255, 255, 255, 0.1);
    font-weight: normal;
}
.btnplus {
    display: flex;
    : center;
    width: 150px;
    height: 50px;
    padding: 7px 7px; 
    background: #d51e44; 
    color: white; 
}/*
.btnplus a:hover {
        background: red; 
}*/
.gen {
    background-color: white;
    height: 481px;

}
.enseignement {
    background-image: url("../images/projet-collaboratif-bg.png");
    color: white;
    height: 445px;

}
.metiers {
    background-color: #3e3e3e;
    color: white;
    height: 577px;

}
.sonProjet {
    background-color: white;
    height: 453px;

}
.titreIII {
    background-image: url("../images/projet-bg1.png");
    color: white;
    height: 300px;

}
.centres {
    background-color: white;
    height: 841px;

}
.temoignages {
    background-image: url("../images/temoignages-bg.png");
    color: white;
    height: 605px;

}
.contact {
    background-color: #9c0021;
    color: white;
    height: 800px;

}
.imgcontainer {
    background-color: white;
    max-height: 250px;
}
.imgcontainer img {
    max-height: 150px;
    max-width: 250px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-top: 50px;
    
}
footer {
    background-color: #3e3e3e;
    color: white;
    height: 155px;

}