html {
    font-family: 'Open Sans', sans-serif;
}
body div {
    padding:0px;
    margin:0px;
}
body {
    text-align: center;
    background-color: white; 
}
.bg {
    background-image: url(../images/header.png);
    background-repeat: no-repeat;
    height: 1080px;
}
.texteaccroche {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 30%;
    color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
.gen {
    height: 481px;
    background-color: white;

}
.enseignement {
    height: 445px;
    background-image: url("../images/projet-collaboratif-bg.png");
    color: white;

}
.metiers {
    height: 577px;
    background-color: #3e3e3e;
    color: white;

}
.sonProjet {
    height: 453px;
    background-color: white;

}
.titreIII {
    height: 300px;
    background-image: url("../images/projet-bg1.png");
    color: white;

}
.centres {
    height: 841px;
    background-color: white;

}
.temoignages {
    height: 605px;
    background-image: url("../images/temoignages-bg.png");
    color: white;

}
.contact {
    height: 800px;
    background-color: #9c0021;
    color: white;

}
.imgcontainer {
    max-height: 250px;
    background-color: white;
}
.imgcontainer img {
    max-height: 150px;
    max-width: 250px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
footer {
    height: 155px;
    background-color: #3e3e3e;
    color: white;

}