html {
    font-family: 'Open Sans', sans-serif;
}
a {
    color: white;
    text-decoration: none;
}
.button {
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
body div {
    margin:0px;
    padding:0px;
}
body {
    background-color: white; 
    text-align: center;
}

header {
    background-image: url(../images/header.png);
    background-repeat: no-repeat;
    height: 900px;
}
nav {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: space-between;
    flex-direction: row;
    height: 90px;
    border-bottom: 1px solid white;
}
.logo {
    padding-left: 360px;
    padding-top: 20px;
    max-height: 40px;
    max-width: auto;
}
ul {
    margin: 0px;
    margin-right: 360px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    padding: 0; 
    overflow: hidden;
}
ul a {
    margin-left: 5px;
    display:block;
    text-align: center;
}
li{
    display: flex;
    flex-direction: row;
    padding-left: 0px;
}
li a {
    color: white;
    display: block;
    padding: 30px 10px;
    text-align: center;
    text-decoration: none;
}
li a:hover {
    background-color: #d51e44;
}
.texteaccroche {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    color: white;
}
.texteaccroche h2 {
    display: inline;
    padding: 8px 40px;
    background-color: rgba(255, 255, 255, 0.1);
    font-weight: normal;
}
.texteaccroche a {
    width: 150px;
    height: 40px;
    padding-top: 15px;
    background: #d51e44; 
}
.gen {
    display: fixed;
    padding-top: 30px;
    background-color: white;
    height: 481px;
}
.logogen {
    margin-top: 0px;
}
.genS {
    margin-left: 260px;
    margin-left: 260px;
    display:flex;
    height: 200px;
}
.gen h1 {
    font-weight: bolder;
}
.genS img {
    display: flex;
    height : max-content;
}
.genS ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    margin: 0px;
    margin-right: 360px;
    overflow: hidden;
    padding: 0; 
}
.formtxt02 li::before {
    content : url(../images/Ellipse\ 1.png);
}
.enseignement {
    background-image: url("../images/projet-collaboratif-bg.png");
    background-repeat: no-repeat;
    color: white;
    height: 425px;
    padding-top: 20px;
}
.icones {
    display: flex;
    justify-content: center;
    
}
.icones [class*="bloc"] {
    padding-top: 50px;
    width: 200px;
    margin-left: 20px;
    max-height: 170px;
    text-align: center justify;
}
.metiers {
    background-color: #3e3e3e;
    color: white;
    display: flex;
    height: 577px;
    justify-content: center;
}
.metiers [class*="bloc"] {
    padding-top: 50px;
    justify-content: center;
    height: 460px;
    width: 600px;
    text-align:left;
}
.metiers p {
    font-size: 18px;
}
.metiers .button {
    border-width: 2px;
    border-style: solid;
    border-color: #white;
    width : 200px;
}
.sonProjet {
    background-color: white;
    display: flex;
    justify-content: left;
    height: 453px;
    padding-top: 70px;
    margin-bottom: 0px;
    
}
.sonProjet img {
    padding-left: 360px;
    width: 600px;
    height: 306px;
    padding-right: 50px;
    padding-top: 30px;
}
.sonProjet .trait{
    padding: 0px;
    width: 150px;
    height: 3px;
}
.sonProjet .bloc{
    width: 600px;
    text-align: left;
}
.sonProjet ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0px;
    overflow: hidden;
    padding: 0; 
    line-height: 24px;
}
.sonProjet li::before {
    content : url(../images/Ellipse\ 1.png);
}
.titreIII {
    background-image: url("../images/projet-bg1.png");
    color: white;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 360px;
    padding-right: 360px;
    font-size: 40px;
}
.titreIII strong{
    font-weight: bolder;
}
.centres {
    background-color: white;
    height: 841px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}
.lieux {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 360px;
    padding-right: 360px;
} 
.lieux [class*="v"] {
    height: 275px;
    width: 250px;
    align-content: space-around;
    padding: 20px;
    position: relative;
}
.v .overlay {
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 20px;
    right: 0;
    height: 75%;
    width: 81%;
    opacity: 0;
    transition: .5s ease;
    background-color: #d51e44;
}
.v:hover .overlay {
    opacity: 0.5;
}

.temoignages {
    background-image: url("../images/temoignages-bg.png");
    color: white;
    display: flex;
    height: 605px;
    text-align: left;
    padding-left: 360px;
    padding-right: 360px;
}
.tem {
    color: white;
    font-size: 20px;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.temoignages p{
    line-height: 30px;
}
.quote {
    text-align: right;
}
.temoignages .tem {
    width: 1200px;
    height: 480px;
}
.temoignages .entete {
    padding-top: 30px;
    display:flex;
    justify-content: space-between;
}
.temoignages .button {
    border-width: 2px;
    border-style: solid;
    border-color: #white;
    width : 200px;
}
.contact {
    background-color: #9c0021;
    color: white;
    height: 800px;
    display: flex;
    flex-direction: column;     
}
.contact h2 {
    padding-left: 360px;
}
.contact .box {
    display: flex;
    flex-direction: row;
}
.contact h2 {
    text-align:left;
}
.contact .form {
    display: flex;
    flex-direction: column;
    padding-left: 360px;
    min-width: 600px;
    text-align: left;
    line-height: 45px;
}
.contact .box {
    display: flex;
    flex-direction: row;
}
.contact input{
    background: #9c0021;
    border-top: none;
    border-left: none;
    border-right: none;
    max-width: 600px;
    min-width: 280px;
}
.contact input[type="email"] {
    min-width: 565px;
}
.contact ::placeholder {
    color: white;
}
.contact .contacttxt {
    padding-right: 360px;
    width: 600px;
    margin-top: 50px;
}

textarea {
    width: 60%;
    height: 200px;
    padding: 20px 20px;
    box-sizing: border-box;
    border: 2px solid #fff;
    border-radius: 4px;
    background-color: #9c0021;
    font-size: 16px;
    resize: none;
    color: white;
}
.imgcontainer {
    background-color: white;
    max-height: 250px;
    display: flex;
    flex-direction: row;
    padding-right: 30px;
    padding-left: 30px;
    justify-content: space-around;
}
.imgcontainer img {
    max-height: 150px;
    max-width: 250px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-top: 50px;
}
footer {
    background-color: #3e3e3e;
    color: white;
    height: 155px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 360px;
    padding-right: 360px;
    padding-top: 60px;    
}
.reseaux img{
    padding-left: 40px;
}
